<h1><p align="center">My Profile</p></h1>
<blockquote> 
First name: <%= @current_user.First_name %><br>
Last name: <%= @current_user.Last_name %>
</blockquote>



























<br><br><br><p><%= link_to 'Back', dashboard_path %></p>
