<blockquote>
<br><br><br>
<div>
<p>
Want to keep a reminder for taking your meds?
<br><br><br><br>
  Set the time:
  <input type="time" name="user_time">
  <input type="submit" value="save">
</p>
</div>

<div>
<br><br>
<br><br><br><%= link_to 'Back', dashboard_path %>
</div>
</blockquote>