<h2>User Settings</h2>

<br><br>Set a reminder to take a medicine<br>

<!DOCTYPE html>
<html>
<body>

<br><br><br><br>
<form action="action_page.php">
  Set the time:
  <input type="time" name="usr_time">
  <input type="submit">
</form>

</body>
</html>



<div>
<br>
<br><br><br><%= link_to 'Back', dashboard_path %>
</div>